<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::base-layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">3
				<div class="col-md-12">
					<div class="card">
						<div class="card-body text-center">
							<h3>Change password</h3>
							<form th:action="@{/user/change-password}" method="post">
								<div class="form-group">
									<input type="password" class="form-control mt-4"
										name="old-password" placeholder="Enter current password" /> <input
										type="password" name="new-password" class="form-control mt-3"
										placeholder="Enter new password" />
								</div>
								<div class="container text-center">
									<button type="submit" class="btn btn-success">Change</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
		$(document).ready(() => {
			$(".item").removeClass("active");
			$("#settings-link").addClass("active");
		})	
		</script>
	</section>
</body>
</html>