body {
	background: #FAEBD7
}

.bg-primary {
	background: #1f0a0a !important
}

.banner {
	width: 100%;
	height: 93vh;
	background: Linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		url(../img/img2.jpg);
	background-size: cover;
	color: white;
}

.my-card {
	padding: 20px;
	background: #FFFFFF
}

.divider:after, .divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}

/* Sidebar */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 36px;
	cursor: pointer
}

.content {
	margin-left: 20%
}

/* Contact image */
.contact-profile {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}

/* Search functionality css */
.search-container{
	position: relative;
}

.search-result{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
}

.active{
	background: #1f0a0a !important;
	color: white !important; 
}

/* User dashboard image */
.user-dash-img{
	width: 100%;
	height: 93vh;
}