<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::base-layout(~{::div})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<div class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
		<h1 class="font-weight-bold">Contact Canvas</h1>
		<p>Canvas away your contacts!</p>
		<a th:href="@{/user/index}" ><button class="btn bg-primary btn-lg text-white">Get Started</button></a>
		</div>
	</div>
</body>
</html>