<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::base-layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3">
						<h3 class="text-center">Register here!</h3>
						<div th:if="${session.message}" class="alert "
							th:classappend="${session.message.type}" role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:remove="all"></th:block>
						</div>
						<form th:action="@{/processSignup}" method="post"
							th:object="${user}">
							<div class="form-group">
								<label for="name_field">Full Name</label> <input type="text"
									class="form-control" id="name_field" name="name"
									placeholder="Enter your name" th:value="${user.name}" required>
							</div>
							<div class="form-group">
								<label for="email_field">Email</label> <input type="email"
									class="form-control" id="email_field" name="email"
									placeholder="Enter email address" th:value="${user.email}"
									required>
							</div>
							<div class="form-group">
								<label for="password_field">Password</label> <input
									type="password" class="form-control" id="password_field"
									name="password" placeholder="Create a password" required>
							</div>
							<div class="form-group">
								<textarea rows="10" class="form-control"
									placeholder="Provide a description for yourself"
									th:value="${user.description}" required></textarea>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input"
									id="exampleCheck1" name="agreement"> <label
									class="form-check-label" for="exampleCheck1">Accept
									terms and conditions</label>
							</div>
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>